@use "home/hero";
@use "home/audience";
@use "home/testimonial";
@use "home/story";
@use "home/why_sec";
@use "home/mind";
@use "home/cta";
@use "home/process";
@use "home/product_home";
@use "home/benefits";
@use "home/target";
@use "home/vmv2";
@use "home/team";





