extends ../layouts/default.pug

block vars
  - var activePage = 'about'

block headLinks
  link(rel="stylesheet" href="assets/css/about-cordydew.css")

block content
  include ../includes/sections/about-banner.pug
  

  section.about-page-content.another-page.pb-60.cd-about
    .container
      include ../includes/sections/about-who-we-are.pug
      include ../includes/sections/about-journey.pug
      //- include ../includes/sections/about-story.pug
      //- include ../includes/sections/about-timeline.pug
      //- include ../includes/sections/about-awards.pug
      //- include ../includes/sections/about-direction.pug

  include ../includes/sections/about-team.pug

block pageScripts
