extends ../layouts/default.pug

block pageCss
  link(rel="stylesheet" href="assets/css/home.css")

block vars
  - var activePage = "home"

block content
  include ../includes/sections/hero.pug
  include ../includes/sections/audience.pug
  include ../includes/sections/testimonial.pug
  //- include ../includes/sections/story.pug
  //- include ../includes/sections/why.pug
  //- include ../includes/sections/benefit.pug
  //- include ../includes/sections/featured-product.pug
  //- include ../includes/sections/vision-mission.pug

block pageScripts
  script(src="assets/js/custom.js")
