extends ../layouts/default.pug

block vars
  - var activePage = "introduce"

block headLinks
  link(rel="stylesheet" href="assets/css/products-cordydew.css")
  link(rel="stylesheet" href="assets/css/introduce.css")

block content
  include ../includes/sections/introduce-banner.pug
  include ../includes/sections/introduce-about.pug
  include ../includes/sections/introduce-product-highlight.pug
  include ../includes/sections/introduce-production-process.pug
  include ../includes/sections/introduce-quality-testing.pug
  //- include ../includes/sections/introduce-products-header.pug
  //- include ../includes/sections/introduce-product-1.pug
  //- include ../includes/sections/introduce-product-2.pug
  //- include ../includes/sections/introduce-bottom-cta.pug

block pageScripts
  script(src="assets/js/introduce.js")
