extends ../layouts/default.pug

block vars
  - var activePage = 'products'

block headLinks
  link(rel="stylesheet" href="assets/css/products-cordydew.css")

block content
  include ../includes/components/page-banner.pug

  +pageBanner({
    title: 'Hai dòng sản phẩm nổi bật',
    subtitleParts: [
      { type: 'text', value: 'CordyDew tập trung trải nghiệm người dùng trẻ: ' },
      { type: 'bold', value: 'ngon – tiện – dễ duy trì mỗi ngày' },
      { type: 'text', value: '. Hai sản phẩm dưới đây là hướng phát triển chủ đạo.' }
    ],
    pt: 'pt-200',
    pb: 'pb-175',
    subtitleClass: 'cd-page-sub '
  })

  include ../includes/sections/products-about.pug
  include ../includes/sections/products-product-1.pug
  include ../includes/sections/products-product-2.pug
  include ../includes/sections/products-bottom-cta.pug

block pageScripts
