script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "CordyDew",
    "url": "https://cordydew.website",
    "logo": "https://cordydew.website/assets/img/favicon.png"
  }
