section.our-team-section.pt-120.pb-100.bg-gray.cd-team
  .container
    .row.justify-content-center
      .col-lg-7.text-center
        .section-title
          h2 Đội ngũ cố vấn &amp; phát triển
          p
            | Hội tụ chuyên môn vi sinh – thị trường – R&amp;D để phát triển CordyDew
            |  theo hướng chất lượng và bền vững.

    .row
      .col-lg-12.team-slider.owl-carousel
        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-luan
          .team-info
            .cd-tag.cd-tag--expert Cố vấn chuyên môn
            h5 ThS. Nguyễn Thành Luân
            h6 Giảng viên – Trường Đại học Công Thương TP. Hồ Chí Minh
            ul.cd-meta
              li
                b Chuyên môn:
                |  Vi sinh &amp; Sinh học phân tử

        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-dieu
          .team-info
            .cd-tag.cd-tag--market Cố vấn thị trường
            h5 Ông Lê Xuân Diệu
            h6 Giám đốc – Công ty TNHH Nông nghiệp VACO (Vacofarm)
            ul.cd-meta
              li
                b Lĩnh vực:
                |  Nông nghiệp

        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-thao
          .team-info
            .cd-tag.cd-tag--rnd R&amp;D
            h5 Nguyễn Hồ Thiên Thảo
            h6 Trưởng nhóm – Nghiên cứu &amp; Phát triển
            ul.cd-meta
              li
                b Trường:
                |  Đại học Công Thương TP. Hồ Chí Minh
              li
                b Khoa:
                |  Sinh học &amp; Môi trường

        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-ngoc
          .team-info
            .cd-tag.cd-tag--biz Business
            h5 Nguyễn Thị Ngọc
            h6 Tài chính &amp; Mô hình kinh doanh
            ul.cd-meta
              li
                b Trường:
                |  Đại học Công Thương TP. Hồ Chí Minh
              li
                b Khoa:
                |  Sinh học &amp; Môi trường

        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-giang
          .team-info
            .cd-tag.cd-tag--mkt Marketing
            h5 Nguyễn Hương Giang
            h6 Marketing &amp; Phát triển thị trường
            ul.cd-meta
              li
                b Trường:
                |  Đại học Công Thương TP. Hồ Chí Minh
              li
                b Khoa:
                |  Sinh học &amp; Môi trường

        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-huy
          .team-info
            .cd-tag.cd-tag--sales Field
            h5 Cao Ngọc Lê Huy
            h6 Tiếp thị &amp; Khảo sát thị trường
            ul.cd-meta
              li
                b Trường:
                |  Đại học Công Thương TP. Hồ Chí Minh
              li
                b Khoa:
                |  Sinh học &amp; Môi trường

        .single-team-member.cd-member
          .team-thumb.cd-thumb.thumb-phat
          .team-info
            .cd-tag.cd-tag--digital Digital
            h5 Nguyễn Thành Phát
            h6 Truyền thông số
            ul.cd-meta
              li
                b Trường:
                |  Đại học Công Thương TP. Hồ Chí Minh
              li
                b Khoa:
                |  Sinh học &amp; Môi trường
