// BENEFIT
section.pt-100.pb-100.cd-benefit
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        .section-title
          h2 CordyDew mang lại điều gì?
          p
            | Không chỉ là một sản phẩm probiotics, CordyDew hướng đến
            | trải nghiệm sử dụng hằng ngày nhẹ nhàng và tiện lợi.

    .row.justify-content-center.mt-35
      .col-lg-7
        ul.cd-benefit-list
          li
            span.cd-check ✓
            |  Hỗ trợ tiêu hóa và cân bằng hệ vi sinh đường ruột
          li
            span.cd-check ✓
            |  Bổ sung chất xơ và dưỡng chất tự nhiên
          li
            span.cd-check ✓
            |  Trải nghiệm sử dụng mới mẻ, tiện lợi mỗi ngày
