section.funfact.style-2.bg-gray.pt-75.pb-130.mb-130
  .container
    .row.justify-content-center
      .col-12.text-center
        .section-title
          h2 Thống kê khảo sát

    .row
      .col-lg-6.col-md-6.col-sm-6
        .stat-item.mb-50.text-center.wow.animated.customFadeInUp.fast
          .count#stat_total(data-from="0" data-to="0" data-speed="1200") 0
          p.text Tổng người tham gia

      .col-lg-6.col-md-6.col-sm-6
        .stat-item.mb-50.text-center.wow.animated.customFadeInUp
          .count#stat_today(data-from="0" data-to="0" data-speed="1200") 0
          p.text Tham gia hôm nay

    .cta-action-style-one
      .row.align-items-center
        .col-lg-8.text-lg-left.text-center
          h4.cta-title Bạn muốn tham gia khảo sát?
          p.cta-text Đóng góp ý kiến để chúng mình cải thiện trải nghiệm tốt hơn.
        .col-lg-4.d-flex.justify-content-lg-end.justify-content-center.py-20
          a.btn-bg(href="survey.html") THAM GIA NGAY