// HERO
section.hero-section.c-home.py-100.bg-img.d-flex.align-items-center(
  style="background-image:url(assets/img/hero-section/hero-bg.png);"
)
  .rotate-image
    img.rotate-me(src="assets/img/home-seven/rti-1.png" alt="" style="height: 20%;")

  .container
    .row
      .col-md-8.text-center
        .hero-text
          h1.hero-title
            span.brand CordyDew
            span.slogan "NATURE’S SMOOTHEST BITE"
          p.hero-subtitle
            | Thạch Sữa Chua Probiotics
            br
            | Kết hợp 
            b  Đông trùng hạ thảo
            |  &amp; 
            b  Khoai lang tím
            br
            | Probiotics cho hệ tiêu hóa khỏe mạnh.
          a.btn(href="#" data-video-open) Khám phá ngay
          a.btn.btn-outline(href="survey.html") Cảm nhận khách hàng

      .d-none.d-md-block.hero-animation-image.c-home
        img(
          src="assets/img/home-seven/cordydew-product-2.png"
          alt="Thạch sữa chua sinh học CordyDew Probiotics"
        )
