// PRODUCTION PROCESS
section.cd-process.pt-70.pb-70
  .container
    .row
      .col-lg-12
        h2.cd-process-title QUY TRÌNH SẢN XUẤT

    .row.justify-content-center.mt-25
      .col-lg-10
        .cd-process-list
          .cd-process-item
            .cd-process-text
              b 1. Ý tưởng & sáng tạo
              br
              | → Xác định mục tiêu: Sáng tạo – mới lạ, tiện lợi, hỗ trợ hệ tiêu hóa.

          .cd-process-item
            .cd-process-text
              b 2. Lựa chọn nguyên liệu
              br
              | → Lợi khuẩn, khoai lang tím, đông trùng hạ thảo, hương vị tự nhiên.

          .cd-process-item
            .cd-process-text
              b 3. Thử nghiệm phối trộn & lên men
              br
              | → Kiểm soát pH, acid lactic, kết cấu thạch, vị giác.

          .cd-process-item
            .cd-process-text
              b 4. Đánh giá chất lượng & trải nghiệm
              br
              | → Thử nghiệm cảm quan, đánh giá hiệu quả lợi khuẩn, cải tiến công thức.

          .cd-process-item
            .cd-process-text
              b 5. Hoàn thiện sản phẩm mẫu
              br
              | → Sản phẩm sẵn sàng giới thiệu, thu thập phản hồi, chuẩn bị phát triển thị trường.
