section#cd-products.cd-products.pt-40.pb-30
  .container
    .row.justify-content-center
      .col-lg-10.text-center
        .cd-section-title
          h2 Sản phẩm (Products)
          p Mục tiêu: chứng minh có sản phẩm thật – sẵn sàng phát triển.
