section.pd-bottom.pt-70.pb-70
  .container
    .row.justify-content-center
      .col-lg-10
        .pd-bottom-card
          div
            h3 Chăm sóc hệ tiêu hóa mỗi ngày cùng CordyDew
            p.mb-0 Lựa chọn sản phẩm phù hợp hoặc kết nối để nhận thông tin chi tiết và lộ trình phát triển.
          .cd-hero-actions
            a.btn-bg.pd-btn(href="#cd-about")
              | Tìm hiểu CordyDew
              i.fa.fa-arrow-right
            a.pd-link(href="#cd-products") Xem sản phẩm
