section.pd-product-block.pb-90.cd-product
  .container
    .row.align-items-center
      .col-lg-6.mb-30.order-lg-2
        .pd-visual.pd-visual-alt
          img.img-product(src="assets/img/products/1-4.png" alt="Sữa chua sấy YoZen")
          .pd-blob
          .pd-dots
          span.pd-chip Snack sấy thăng hoa

      .col-lg-6.mb-30.order-lg-1
        .pd-card
          span.pd-badge.pd-badge-2 YoZen
          h3.pd-title Sữa chua sấy YoZen
          p.pd-desc
            b Snack sữa chua probiotics giòn xốp.
            br
            | YoZen là sản phẩm sữa chua
            b  sấy thăng hoa
            | , kết hợp probiotics, khoai lang tím và đông trùng hạ thảo,
            | giúp giữ trọn hương vị và giá trị dinh dưỡng, đồng thời mang đến trải nghiệm mới mẻ cho người dùng.

          .pd-feature-list
            .pd-feature
              .pd-ic
                i.fa.fa-balance-scale
              div
                h6 Hỗ trợ cân bằng hệ vi sinh đường ruột
                p Probiotics phù hợp người thích snack nhưng vẫn muốn “healthy”.
            .pd-feature
              .pd-ic
                i.fa.fa-leaf
              div
                h6 Bổ sung chất xơ & dưỡng chất tự nhiên
                p Khoai lang tím và dược liệu giúp tăng giá trị dinh dưỡng.
            .pd-feature
              .pd-ic
                i.fa.fa-archive
              div
                h6 Dạng khô giòn, tiện bảo quản – dễ sử dụng
                p Phù hợp mang theo: học tập, làm việc, du lịch.
            .pd-feature
              .pd-ic
                i.fa.fa-star
              div
                h6 Trải nghiệm snack dinh dưỡng hằng ngày
                p Giòn xốp – ngon miệng – dễ duy trì thói quen.

          p.pd-fit.mt-10
            b Phù hợp cho:
            |  người bận rộn, học sinh – sinh viên, người thích snack lành mạnh.

          .pd-cta.mt-25
            a.btn-bg.pd-btn(href="contact.html")
              | Nhận tư vấn / hợp tác
              i.fa.fa-arrow-right
