// PRODUCT HIGHLIGHT (as screenshot)
section.cd-product-highlight.pt-60.pb-60
  .container
    // Title
    .row
      .col-lg-12
        h2.cd-ph-title SẢN PHẨM

    // Content card
    .row.justify-content-center.mt-20
      .col-lg-12
        .cd-ph-card
          .cd-ph-left
            h3.cd-ph-brand CordyDew

            ul.cd-ph-list
              li CordyDew là thạch probiotics “Made in Vietnam”, phát triển trên nền tảng công nghệ sinh học.
              li Sản phẩm kết hợp lợi khuẩn và nguyên liệu tự nhiên nhằm hỗ trợ hệ tiêu hoá hằng ngày.
              li Hướng đến trải nghiệm tiện lợi, an toàn và bền vững cho người tiêu dùng.

            .cd-ph-actions
              a.cd-ph-btn.cd-ph-btn--primary(href="contact.html") Liên hệ
              a.cd-ph-btn.cd-ph-btn--secondary(href="#!" onclick="return false;") Cảm nhận khách hàng

          .cd-ph-right
            //- Thay ảnh theo đúng file của bạn
            img.cd-ph-img(
              src="assets/img/products/product-highlight.png"
              alt="CordyDew product"
            )
