section.pd-product-block.pb-70
  .container
    .row.align-items-center
      .col-lg-6.mb-30
        .pd-visual
          img(src="assets/img/home-seven/g2.png" alt="Thạch probiotics CordyDew")
          .pd-blob
          .pd-dots
          span.pd-chip Thạch probiotics

      .col-lg-6.mb-30
        .pd-card.pd-soft
          span.pd-badge CordyDew
          h3.pd-title Thạch probiotics CordyDew
          p.pd-desc
            | CordyDew là
            b  thạch sữa chua probiotics
            |  kết hợp
            b  khoai lang tím
            |  và
            b  đông trùng hạ thảo
            | ,
            |  mang trải nghiệm dinh dưỡng tiện lợi, dễ sử dụng mỗi ngày.

          .pd-feature-list
            .pd-feature
              .pd-ic
                i.fa.fa-balance-scale
              div
                h6 Hỗ trợ cân bằng hệ vi sinh đường ruột
                p Probiotics giúp duy trì hệ tiêu hóa khỏe mạnh theo thói quen hằng ngày.

            .pd-feature
              .pd-ic
                i.fa.fa-leaf
              div
                h6 Bổ sung chất xơ tự nhiên từ khoai lang
                p Hỗ trợ tiêu hóa, tạo trải nghiệm “ăn vặt lành mạnh”.

            .pd-feature
              .pd-ic
                i.fa.fa-star
              div
                h6 Tăng giá trị dinh dưỡng nhờ đông trùng hạ thảo
                p Định vị sản phẩm sáng tạo & giàu giá trị dinh dưỡng.

            .pd-feature
              .pd-ic
                i.fa.fa-spoon
              div
                h6 Dạng thạch mềm – tiện lợi – dễ ăn
                p Phù hợp nhiều độ tuổi, đặc biệt người bận rộn.

          .pd-cta.mt-25
            a.btn-bg.pd-btn(href="contact.html")
              | Nhận tư vấn / mẫu thử
              i.fa.fa-arrow-right
            a.pd-link(href="#!" onclick="return false;") Tải brochure (PDF)
