section.pd-bottom.pt-70.pb-70
  .container
    .row.justify-content-center
      .col-lg-10
        .pd-bottom-card
          div
            h3 Bạn muốn nhận mẫu thử hoặc hợp tác?
            p.mb-0
              | Kết nối CordyDew để nhận thông tin chi tiết, thông số sản phẩm và lộ trình phát triển.
          a.btn-bg.pd-btn(href="contact.html")
            | Liên hệ ngay
            i.fa.fa-arrow-right
