// STORY
section.cordydew-story.split-story
  .container
    .row.align-items-center.g-4
      .col-lg-6
        .section-title.text-start
          h2.story-title Câu chuyện về CordyDew
          p.story-lead
            | CordyDew ra đời với mong muốn mang đến một giải pháp hỗ trợ hệ tiêu hóa đơn giản,
            | tiện lợi và dễ tiếp cận.
          p.story-text
            | Sản phẩm được phát triển theo hướng probiotics sáng tạo, kết hợp
            b  khoai lang tím
            |  và
            b  đông trùng hạ thảo
            | , hướng đến giá trị sức khỏe và trải nghiệm phù hợp với người tiêu dùng trẻ.
          .story-highlights
            .hl
              .dot
              span Đơn giản – tiện lợi – dễ tiếp cận
            .hl
              .dot
              span Probiotics sáng tạo
            .hl
              .dot
              span Kết hợp khoai lang tím & đông trùng hạ thảo
      .col-lg-6
        .story-media
          img.img-fluid.story-img(
            src="assets/img/home-seven/cordydew-story.jpg"
            alt="CordyDew story"
          )
