// TESTIMONIAL
section.cordydew-testimonial
  .container
    .testimonial-header
      h2.testimonial-title Cảm nhận của khách hàng

    .testimonial-wrap
      .testimonial-media
        img(
          src="assets/img/home-seven/testimonial.jpg"
          alt="Khách hàng chia sẻ về CordyDew"
        )

      .testimonial-content
        p.testimonial-text
          | CordyDew như một lựa chọn dinh dưỡng lành mạnh cho cả gia đình
          | tiện lợi mỗi ngày và an tâm nhờ nền tảng khoa học rõ ràng.
