// TESTIMONIAL
section.cordydew-testimonial
  .container
    .testimonial-header
      h2.testimonial-title Cảm nhận của khách hàng

    .testimonial-wrap
      .testimonial-media
        img(
          src="assets/img/home-seven/testimonial.jpg"
          alt="Khách hàng chia sẻ về CordyDew"
        )

      .testimonial-content
        p.testimonial-text
          | CordyDew giống như một món ăn vặt lành mạnh cho cả gia đình.
          | Vừa tiện, vừa an tâm vì có nền tảng khoa học rõ ràng.
